body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #343233;
    color: #f6f5f6;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

#bordeinf {
    border-bottom: 3px solid #dad9d9;
    margin-bottom: 20px;
}

.roman-list {
    list-style-type: upper-roman;
    border-bottom: 3px solid #dad9d9;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse; 
    width: 200px;
}

td {
    border: 1px solid rgb(88, 88, 88);
    padding: 10px; 
    text-align: center; 
}

.logo-redes img {
    width: 40px;
    margin: 4px;
}

    


